{{> header }}

    <main>
        <h2>{{ question.body }}</h2>

        {{#if auth}}
            {{#if msg}}
                <p>{{msg}}</p>
            {{/if}}
            <form action ="/question/{{ question.id }}/answer-action" method = "POST">
                <label>Answer:<br></label>
                <textarea type="text" placeholder = "Input answer..." maxlength="1500" name="body" id="answer"></textarea>
                <p><input type="submit" value="Submit Answer" id="submit"></p>
            </form>
        {{/if}}

        {{#each answers}}
        <article style="background-color: white;">
            <p>{{ body }}</p>
            <p>{{ date }}</p>
            <p>{{ user_name }}</p>
        </article>
        <hr>
        {{/each}}
    </main>
    
{{> footer }}