{{> header }}

    <main>
        <h2>{{ question.body }}</h2>

        {{#if auth}}
            {{#if msg}}
                <p>{{msg}}</p>
            {{/if}}
            <form action ="/question/{{ question.id }}/answer-action" method = "POST">
                <label>Answer:<br></label>
                <textarea type="text" placeholder = "Input answer..." maxlength="1500" name="body" id="answer"></textarea>
                <p><input type="submit" value="Submit Answer" id="submit"></p>
            </form>
        {{/if}}

        {{#each answers}}
            {{#if ../question.solved}}
            {{else}}
                {{#if ../author}}
                    <form action ="/question/{{ ../question.id }}/answer-correct-action" method = "POST">
                        <input type="hidden" name="ID" value= {{id}} />
                        <p><input type="submit" value="Mark As Correct"></p>   
                    </form>         
                {{/if}}
            {{/if}}
            {{#if is_correct}}
                <p>Correct Answer</p>
            {{/if}}
        <article style="background-color: white;">
            <p>{{ body }}</p>
            <p>{{ date }}</p>
            <p>{{ user_name }}</p>
            {{#if bronze}}
                <small id ="bronze" class="fas fa-star"></small>
            {{/if}}
            {{#if silver}}
                <small id ="silver" class="fas fa-star"></small>
            {{/if}}
            {{#if gold}}
                <small id ="gold" class="fas fa-star"></small>
            {{/if}}
            {{#if ../auth}}
                {{#if is_inappropriate}}
                {{else}}
                    <form action ="/question/{{ ../question.id }}/answer-flag-action/{{ id }}" method = "POST">
                        <p><input type="submit" value="Mark As Inappropriate"></p>   
                    </form>
                {{/if}}
            {{/if}}
            {{#if ../auth}}
                <form action ="/question/{{ ../question.id }}/rate/{{ id }}" method = "POST">
                    <input type="text" placeholder="your rate" name="rate">
                    <p><input type="submit" value="RATE"></p>   
                </form>
                <p>Average: {{average_rate}}</p>
            {{/if}}
        </article>
        <hr>
        {{/each}}
    </main>
    
{{> footer }}