{{> header}}

    <main>
        <form action="#">
            <input type="text" placeholder="Search..." name="search" class="search" value="{{query}}" id="searchbar">
            <button type="submit"><i class="fa fa-search" id="submit"></i></button>
        </form>

        {{#each questions}}
        <a href="/question/{{ id }}/answers" id="question{{id}}">
            <article class="question">
                {{#if solved}}
                <p>Solved</p>
                {{/if}}
                <h2>{{ title }}</h2>
                <small class="user">{{ user_id }}</small>
                <small class="date">{{ date }}</small>
            </article>
        </a>
        {{/each}}        
    </main>

{{> footer }}