{{> header}}

    <main>
        <form action="#">
            <input type="text" placeholder="Search..." name="search" class="search" value="{{query}}">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        {{#each questions}}
        <a href="/question/{{ id }}/answers">
            <article class="question">
            {{#if solved}}
            <p>Solved</p>
            {{/if}}
<<<<<<< HEAD
            <a href="images/questions/{{ id }}/{{ image }}">
                <img class = "thumb" src="images/questions/thumb/{{ id }}/{{ image }}" alt="thumbnail">
            </a>
=======
            <img class = "thumb" src="images/questions/thumb/{{ id }}/{{ image }}" alt="No thumbnail"> 
>>>>>>> 1a421474edcccdb97a7f8b3440750608b8565da9
            <h2>{{ title }}</h2>
            <br>
            <br><h3>{{body}}</h3>
            <small class="user">{{ user_id }}</small>
            <small class="date">{{ date }}</small>
        </article>
        </a>
        {{/each}}        
    </main>

{{> footer }}