{{> header}}

    <main>
        <form action="#">
            <input type="text" placeholder="Search..." name="search" class="search" value="{{query}}">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        {{#each Questions}}
        <article class="question">
            {{#if solved}}
            <p>Solved</p>
            {{/if}}
            <h2>{{ title }}</h2>
            <h3>{{question}}</h3>
            <small class="user">{{ user_id }}</small>
            <small class="date">{{ date }}</small>
        </article>
        {{/each}}        
    </main>

{{> footer }}